<div id="loading" style="color:yellow;background-color: red" *ngIf="isLoading">
  <span>Loading...........</span>
</div>

<div style="width:450px">
  <form #flightForm="ngForm" class="form-group">
    <div>
      <label>Origin :</label>
      <input type="text" id="originInput" [(ngModel)]="model.origin" name="origin" class="form-control" />
    </div>
    <div>
      <label>Destination :</label>
      <input type="text" id="destinationInput" [(ngModel)]="model.destination" name="destination" class="form-control"/>
    </div>
    <div>
      <label>From Date :</label>
      <input type="text" id="fromDateInput" [(ngModel)]="model.from" name="from" class="form-control"/>
    </div>
    <div>
      <label>To Date :</label>
      <input type="text" id="toDateInput" [(ngModel)]="model.to" name="to" class="form-control"/>
    </div>
    <div>
      <label>FlightNumber :</label>
      <input type="text" id="flightNumberInput" [(ngModel)]="model.flightNumber" name="flightNumber" class="form-control"/>
    </div>
    <div>
      <label>Timetables :</label>
      <weekly-timetable [(data)]="model.timetables"></weekly-timetable>
    </div>
    <button (click)="save()" class="btn btn-primary" id="save">Save</button>
  </form>
</div>